<div class="container-fluid">
    <div class="text-center">
        <h1>Highest rated items</h1>

        <% if @items.empty? %>
        <h2>There are no tackle item's created, click <%= link_to "here", new_item_path %> to create a new item.</h2>
        <% end %>
        <div class="row">
            <% @items.each do |item| %>
            <div class="card col-md-3" style="width: 18rem;">
                <% if item.item_image.attached? %>
                <%= image_tag item.item_image.variant(resize: "200x200"), class: 'card-img-top'%><br>
                <% end %>
                <div class="card-body">
                    <h5 class="card-title"><%= item.name  + " - " + item.brand.name %></h5>
                    <p class="card-text"><%= item.description %></p>

                    <% if user_signed_in? %>
                    <%= button_to "Add a Review", new_item_review_path(item.id), method: :get, class: 'btn btn-primary'  %><br>
                    <%= button_to "View Reviews", item_reviews_path(item.id), method: :get, class: 'btn btn-primary'  %><br>
                    <% if item.user_id == current_user.id %>
                    <%= button_to "Delete Item", item_path(item), method: :delete, class: 'btn btn-danger'  %><br>
                    <% end %>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>