<h1>All the Surf Tackle created!</h1>

<ul>
    <% @items.each do |item| %>
        <li>
            <%= item.name  + " - " + item.brand.name %><br>
            <%= item.description %>
            
            <% if user_signed_in? %>
                <%= button_to "Add a Review", new_item_review_path(item.id), method: :get, class: 'btn btn-primary'  %><br>
                <%= button_to "View Reviews", item_reviews_path(item.id), method: :get, class: 'btn btn-primary'  %><br>
                <% if item.user_id == current_user.id %>
                    <%= button_to "Delete Item", item_path(item), method: :delete, class: 'btn btn-danger'  %>
                <% end %>    
            <% end %>
            
        </li>
    <% end %>
</ul>