<h1>Create a new item!</h1>

<% if @item.errors.any? %>
<ul>
  <% @item.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for(@item) do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :price %>
        <%= f.text_field :price %>
    </div>
    
    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label "Item Photo" %>
        <%= f.file_field :item_image %>
    </div>

    <p>Select a brand that exists</p>
    <div>
        <%= f.collection_select :brand_id, Brand.all, :id, :name %>
    </div>


    <p>Or create a new brand</p>
    <div>
        <%= f.fields_for :brand do |brand_attr| %>
            <%= brand_attr.label :name %>
            <%= brand_attr.text_field :name %>
        <% end %>
    </div>
    
    <%= f.submit %>
<% end %>