<%= render partial: 'layouts/errors', locals: {object: @review} %>

<%= form_for(@review) do |f| %>

    <% if params[:item_id] %>
        <h1>Add a Review for <%= @review.item.brand.name %></h1>
        <%= f.hidden_field :item_id %>

    <% else %>
        <div>
            <%= f.label :item_id, "Select an Item to Review" %>
            <%= f.collection_select :item_id, Item.all.alpha_order, :id, :item_and_brand, include_blank: true %>
        </div>
        
    <% end %>

    <div>
        <%= f.label :stars %>
        <%= f.number_field :stars, min:0, max:5 %>
    </div>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    
    <div>
        <%= f.label :content %>
        <%= f.text_area :content, size: '20x5' %>
    </div>
    
    <%= f.submit %>
<% end %>